{% macro render_field(field, extra_class="", readonly=False) %}
	<div class="form-group {{ extra_class }}">
		{{ field.label }}
		{% if readonly %}
			
			{{ field(class_="form-control", readonly='readonly') }}
		{% else %}
			{{ field(class_="form-control") }}
		{% endif %}
		<ul class="errors">
			{% for error in field.errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
	</div>
{% endmacro %}
