{% extends 'base.html' %} 
{% from 'shared/_form.html' import render_field %} 

{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ asset_url('css/profile.css') }}" />
	<title>Profile of {{ form.username.data or 'New user' }} - Krusty Dank Meme</title>
{% endblock %} 

{% block header_title %} 
	{% if mode == 'edit' %}
		<span class="text">{{ _('Edit your profile') }}</span>
	{% elif mode == 'signup' %}
		<span class="text">{{ _('Sign up for a new account') }}</span>
	{% endif %} 
{% endblock %} 

{% block content %}
	<form method="post" enctype="multipart/form-data" class="user-info-editor">
		<div class="user-info">
			{% if mode == 'edit' %}
				<h1 class="title">{{ _('Edit your personal data') }}</h1>
			{% elif mode == 'signup' %}
				<h1 class="title">{{ _('Create your account') }}</h1>
			{% endif %}
			{{ form.csrf_token }} 
			{{ render_field(form.username) }} 
			{{ render_field(form.email) }} 
			{{ render_field(form.first_name) }} 
			{{ render_field(form.last_name) }}
			{{ render_field(form.password) }} 
			{{ render_field(form.password_confirm) }} 
			{{ render_field(form.address,) }} 
			{{ render_field(form.town) }} 
			{{ render_field(form.zip_code) }}
			{{ render_field(form.birthday) }} 
			{{ render_field(form.gender) }}
			{{ render_field(form.coins, readonly=True) }}
			{% if mode == 'edit' %} 
				{{ render_field(form.old_password) }}
			{% endif %}
			
				{% if mode == 'signup' %}
					<button type="submit" style="display: inline" class="button standalone">{{ _('Sign up') }}</button>
				{% elif mode == 'edit' %}
					<button type="submit" style="display: inline" class="button standalone">{{ _('Save') }}</button>
					<a href="{{ url_for('users.edit_profile') }}">{{ _('Edit your profile') }}</a>
				{% endif %}
		</div>
	</form>
{% endblock %} 

