{% extends 'base.html' %}
{% from 'shared/_form.html' import render_field %}

{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ asset_url('css/login.css') }}" />
	<title>Login - Krusty Dank Meme</title>
{% endblock %}

{% block header_title %}
	<span class="text">Login</span>
{% endblock %}

{% block content %}
	<div class="background">
		<div class="login-window">
			<form id="login-form" method="post">
				{{ form.csrf_token }}
				{{ render_field(form.username) }}
				{{ render_field(form.password) }}
				<button type="submit" class="button standalone">Login</button>
			</form>
		</div>
	</div>
{% endblock %}

