{% extends 'base.html' %}

{% block head %}
    <title>{{ g.user.notification_amount }} {{ _('Notifications') }}</title>
    <link rel="stylesheet" href="{{ asset_url('css/notifications.css') }}">
{% endblock %}

{% block async_scripts %}
	<script async="async" src="{{ asset_url('js/notifications.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="notification-list">
        {% for n in g.user.notifications %}
            <div class="notification {{ 'read' if n.is_read }}" data-nid="{{ n.id }}">
                <span class="datetime">{{ n.added | date_s }}</span>
                <span class="text">{{ n.text }}</span>
                <div class="frame">
                    {% if n.is_read %}
                        <span class="icon img-checked"></span>
                    {% else %}
                        <span class="icon img-unchecked"></span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


{% block scripts %}
    <script>
        window.whenApp(app => {
            document.querySelectorAll(".notification-list .notification").forEach(function(el) {
                initNotification(app, el);
            });
        });
    </script>
{% endblock %}
