{% extends 'base.html' %}
{% from 'shared/_form.html' import render_field %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ asset_url('css/post.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset_url('css/profile.css') }}">
	<title>Profile of {{ user.username }} - Krusty dank meme</title>
{% endblock %}

{% block async_scripts %}
    <script async="async" src="{{ asset_url('js/image-picker.js') }}"></script>
    <script async="async" src="{{ asset_url('js/profile.js') }}"></script>
{% endblock %}

{% block content %}
	<form class="profile" method="POST" data-userid="{{ user.id }}" data-editable="{{ (mode == 'edit') | int }}">
		<div class="header-image" 
			{% if user.header_image_url %}
				style="background-image: url({{ user.header_image_url }})" 
			{% endif %}>
		</div> 
		<div class="profile-image-container">
			<div class="background">
				<div class="profile-image img-placeholder"
				{% if user.profile_image_url %}
					style="background-image: url({{ user.profile_image_url }})"
				{% endif %}></div>
			</div>
		</div>
		<div class="content-wrapper">
			<div class="username center">
				<span class="text">{{ user.username }}</span>
			</div>
			<div class="user-stat-container">
				<div class="user-stat follower-amount">
					<div class="text strong center">Followers</div>
					<div class="text center amount">{{ user.follower_amount }}</div>
				</div>
				<div class="user-stat total-like-amount">
					<div class="text strong center">Total likes</div>
					<div class="text center amount">{{ user.total_like_amount }}</div>
				</div>
				<div class="user-stat total-post-amount">
					<div class="text strong center">
						<a class="no-decoration" href="{{ url_for('posts.index') }}#user{{ user.username }}">{{ _('Posts') }}</a>
					</div>
					<div class="text center amount">{{ user.post_amount }}</div>
				</div>
			</div>
			<div class="clear"></div>
			{% if mode == 'view' %}
				<div class="user-info">{{ user.user_info }}</div>
			{% elif mode == 'edit' %}
				{{ form.csrf_token }}
				{{ render_field(form.user_info) }}
				{{ form.header_image(class_='header-image-input') }}
				{{ form.profile_image(class_='profile-image-input') }}
			{% endif %}
			{% if mode == 'view' and g.user.id != user.id %}
				<button class="button subscribe-button {{ 'active' if user.is_subscribed }}" type="button">
					<span class="text">{{ _('Subscribe') }}</span>
					{% if user.is_subscribed %}
						<span class="icon img-checked"></span>
					{% else %}
						<span class="icon img-unchecked"></span>
					{% endif %}
				</button>
			{% elif mode == 'edit' %}
				<button class="button standalone" type="submit">{{ _('Save') }}</button>
			{% endif %}
		</div>
	</form>
{% endblock %}

{% block scripts %}
    <script>
        window.whenApp(function(app) {
            initProfile(app, document.querySelector(".profile"));
        });
    </script>
{% endblock %}
