{% extends 'base.html' %}

{% block head %}
    <title>{{ _('403 - Forbidden') }}</title>    
{% endblock %}

{% block content %}
    <h1>{{ _('You are not allowed to view this page') }}.</h1>
    <p>{{ _('You may want to') }} <a href="{{ url_for('users.login') }}">{{ _('Log in') }}</a> 
        <br>HTTP Error 404
    </p>
{% endblock %}

