{% extends 'base.html' %}

{% block head %}
    <title>{{ _('404 - Not found') }}</title>
{% endblock %}

{% block content %}
    <h1>{{ _("We can't find what you are looking for :/") }}</h1>
    <p>HTTP Error 404</p>
{% endblock %}

