{% macro post(p, mode) %}
	<div class="post" data-postid="{{ p.id }}">
		<div class="background">
			<div class="image" style="background-image: url({{ p.image_url }})"></div>
		</div>
		<div class="post-details">
			<div class="wrapper">
				<div class="post-reactions">
					<div class="button-group pull-right">
						<button class="button like-button {{ 'active' if p.is_liked }}">
							<span class="amount">{{ p.like_amount }}</span>
							<span class="icon img-like"></span>
						</button>
						<button class="button comment-button">
							<span class="amount">{{ p.comment_amount }}</span>
							<span class="icon img-comment"></span>
						</button>
						{% if p.is_editable %}
							<a class="button" href="{{ p.edit_url }}">
								<span class="icon img-pencil"></span>
							</a>
							<button class="button delete-button">
								<span class="icon img-trashbin"></span>
							</button>
						{% endif %}
						{% if mode == 'approve' %}
							<button class="button approve-button">
								{% if p.is_approved %}
									<span class="icon img-checked"></span>
								{% else %}
									<span class="icon img-unchecked"></span>
								{% endif %}
							</button>
						{% endif %}
					</div>
				</div>
				<div class="post-autor">
					<a class="strong no-decoration" href="{{ p.author.profile_url }}">
						{{ p.author.username }}
					</a>
					{% if mode == 'yours' %}
						<span class="text">{{ _('[Approved]') if p.approved else _('[Not approved]') }}</span>
					{% endif %}
				</div>
				<div class="clear"></div>
				<div class="post-text">
					<span class="text">{{ p.text }}</span>
				</div>
				<div class="comment-area">
					<form class="new-comment-form" method="post">
						<div class="input-group">
							<button type="submit" class="new-comment-submit button pull-right form-addon" disabled="disabled">Post</button>
							<input type="text" class="new-comment-input form-control" placeholder="{{ _('Add a comment') }}" name="new-comment-text">
						</div>
					</form>
					<div class="comment-list">
						{% for c in p.comments %}
							{{ comment(c) }}
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="toggle-comment-area-button img-arrow-down"></div>
		</div>
	</div>
{% endmacro %}

{% macro comment(c) %}
	<div class="comment" data-commentid="{{ c.id }}">
		<button class="button like-comment pull-right {{ 'active' if c.is_liked }}">
			<span class="amount">{{ c.like_amount }}</span>
			<span class="icon img-like"></span>
		</button>
		<a class="comment-author strong no-decoration" href="{{ c.author.profile_url }}">
			{{ c.author.username }}
		</a>
		<div class="comment-text">{{ c.text }}</div>
	</div>
{% endmacro %}
