{% extends 'base.html' %}


{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ asset_url('css/post.css') }}" />
	<title>{{ _('Edit post') if post else _('New post') }} - Krusty Dank Meme</title>
{% endblock %}

{% block async_scripts %}
    <script async="async" src="{{ asset_url('js/post-editor.js') }}"></script>
    <script async="async" src="{{ asset_url('js/image-picker.js') }}"></script>
{% endblock %}


{% block content %}
	<form method="post" class="post-editor" id="upload-form">
		<div class="post-list">
			<div class="post" data-postid="{{ post.id if post else 0 }}">
				<div class="background">
					{% if not post %}
						<div class="image img-placeholder image-preview"></div>
					{% else %}
						<div class="image image-preview" style="background-image: url({{ post.image_url }})"></div>
					{% endif %}
				</div>
				<div class="post-details">
					<div class="progress-bar hidden">
						<div class="slider"></div>
					</div>
					<div class="input-group">
						<textarea class="form-control text-input" name="text">{{ post.text if post }}</textarea>
						{% if not post %}
							<button id="submit-button" class="button pull-right form-addon submit-button" disabled="disabled" type="submit">{{ _('Save') }}</button>
						{% else %}
							<button id="submit-button" class="button pull-right form-addon submit-button" type="submit">{{ _('Save') }}</button>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</form>
{% endblock %}

{% block scripts %}
    <script>
        window.whenApp(function(app) {
            initPostEditor(app, document.querySelector("#upload-form"), {
                onSave: function() {window.location.href = "{{ url_for('posts.index') }}"}
            });
        });
    </script>
{% endblock %}
