{% extends 'base.html' %}
{% from 'posts/_macros.html' import post %}


{% block head %}
	<link type="text/css" rel="stylesheet" href="{{ asset_url('css/post.css') }}" />
	<title>{{ title }} - Krusty Dank Meme</title>
{% endblock %}

{% block async_scripts %}
    <script async="async" src="{{ asset_url('js/posts.js') }}"></script>
{% endblock %}


{% block header_title %}
	<span class="text">{{ title }}</span>
{% endblock %}

{% block content %}
	<div class="post-list">
		{% for p in posts %}
			{{ post(p, feed) }}
		{% endfor %}
	</div>
    <button style="margin-top: 50px" class="button center-block" id="fetch-button">Fetch more</button>
{% endblock %}

{% block scripts %}
    <script>
        window.whenApp(function(app) {
            const plEl = document.querySelector("div.post-list");
            const fbEl = document.querySelector("#fetch-button");
            
            window.initPostList(app, plEl, {
                feed: "{{ feed }}",
                fetchButton: fbEl
            });
        });
    </script>
{% endblock %}


