.header {
	height: 60px;
	background-color: var(--header-bg-color);
	padding-left: 3px;
	padding-right: 3px;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 98;
	box-shadow: 0px 0px 15px var(--header-bg-color);
	color: var(--header-color);
    transition: background-color 0.5s ease, height 0.5s ease;
}

.header.header-big {
    height: 120px;
    background-color: white;
    box-shadow: none;
}

.header .logo {
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;
    transition: height 0.5s ease, width 0.5s ease, margin-top 0.5s ease;
}

.header.header-big .logo {
    height: 120px;
    width: 120px;
}

.header .profile-button {
    height: 60px;
    width: 60px;
    margin-top: 0px;
    float: right;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px;
    background-origin: content-box;
    filter: invert(100%);
    transition: filter 0.5s ease, margin-top 0.5s ease;
}

.header.header-big .profile-button {
    margin-top: 10px;
    filter: invert(0%);
}

.header .profile-button:hover {
    background-color: #AAA;
}

.header .action-button {
	width: 60px;
	height: 60px;
	float: left;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 3px;
    filter: invert(100%);
    transition: margin-top 1s ease;
    position: relative;
}

.header .action-button .badge {
	bottom: 5px;
	right: 5px;
	filter: invert(100%); /*Invert back so it stays red*/
}

.header.header-big .action-button {
    margin-top: 10px;
    filter: invert(0%);
}

.header.header-big .action-button .badge {
	filter: invert(0%);
}


.header .action-button:hover {
	background-color: #AAA;
}


.bar {
	height: 5px;
	display: block;
	background-color: black;
	margin: 3px;
	width: 30px;
    transition: background-color 1s ease;
}

.action-menu {
	position: fixed;
	left: -302px;
    padding-top: 0;
	top: 0;
	bottom: 0;
	width: 300px;
	background-color: var(--header-bg-color);
	z-index: 98;
	color: var(--header-color);
    transition: left 0.5s ease;
}

.action-menu.visible {
    left: 0;
}

.action-menu .close-button {
    height: 60px;
    width: 60px;
    padding: 10px;
    margin-left: 3px;
    filter: invert(100%);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
}

.action-menu .close-button:hover {
    background-color: #AAA;
}

.action-menu .menu-item-list {
    margin-top: 20px;
}

.menu-item {
	width: 100%;
	height: 50px;
	display: block;
	line-height: 50px;
	box-sizing: border-box;
	padding: 3px;
	color: var(--header-color);
	text-decoration: none;
	position: relative;
}

.menu-item .badge {
	top: 15px;
	bottom: 15px;
	right: 5px;
}

.menu-item:hover, .menu-item.active {
	background-color: var(--highlight-bg-color);
	color: var(--highlight-color);
}

.profile-menu {
    position: fixed;
    width: 200px;
    z-index: 99;
    right: -200px;
    top: 80px;
    
    border-radius: 5px;
    background: black;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease, right 0s ease 0.3s;
}


.profile-menu .triangle-top {
    position: absolute;
    border: 20px solid transparent;
    border-bottom: 20px solid black;
    height: 40px;
    width: 40px;
    
    top: -40px;
    right: 11px;
    
}

.profile-menu .menu-item-list {
    padding: 5px;
}

.profile-menu .menu-item-list .menu-item {
    height: 30px;
    line-height: 30px;
}

.profile-menu.visible {
    top: 100px;
    right: 0px;
    opacity: 1;
    transition: top 0.3s ease, opacity 0.3s ease;
}


