:root {
	--header-bg-color: #000;
	--header-color: #FFF;
	--highlight-bg-color: #FFDF00;
	--highlight-color: #000;
	--color: #FFF;
	--bg-color: #FFF;
	--light-bg-color: #AAA;
	--light-color: #000;
	--strong-bg-color: #E82C0C;
	--strong-color: #FFF;
	--border-radius: 8px;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.hidden {
	display: none !important;
}

.clear {
	clear: both;
}

.center-block {
    margin-left: auto !important;
    margin-right: auto !important;
}

.content {
	margin-top: 180px;
	min-height: 400px;
	margin-left: 10px;
	margin-right:10px;
}

.strong {
	font-weight: bold;
}

.button-group {
	
}

.button-group .button {
	margin-left: 0px;
	margin-right: 0px;
	float: left;
	border-radius: 0px;
	padding: 5px;
}

.button-group:after {
	clear: both;
}

.button-group .button:first-child {
	border-radius: 9999px 0 0 9999px;
	margin-left: 3px;
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.button-group .button:last-child {
	border-radius: 0 9999px 9999px 0;
	margin-right: 3px;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.button {
	text-decoration: none;
	border: none;
	/*border: 1px solid var(--light-bg-color);*/
	background-color: var(--light-bg-color);
	border-radius: 9999px;
	padding: 5px 10px;
	color: var(--light-color);
	cursor: default;
	display: block;
	font-size: 1em;
	margin: 3px;
	height: 35px;
	line-height: 25px;
}

.button.standalone {
	min-width: 100px;
}


.button:hover {
	background-color: var(--highlight-bg-color) !important;
	/*border: 1px solid #666 !important;*/
	color: var(--highlight-color) !important;
}

.button:disabled {
	background-color: var(--light-bg-color) !important;
	color: #EEE !important;
}

.button.active {
	background-color: var(--strong-bg-color);
	/*border: 1px solid #AAA;*/
	color: var(--strong-color);
}

.form-control {
	width: 100%;
	font-size: 1em;
	padding: 5px 10px;
	border: 1px solid #EEE;
	border-radius: 9999px;
	height: 35px;
}

textarea.form-control {
	min-height: 70px;
	font: inherit;
	resize: vertical;
	border-radius: var(--border-radius);
}

.center {
	text-align: center;
}

a.no-decoration {
	text-decoration: none;
	color: black;
}

.icon {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	float: right;
	height: 25px;
	width: 30px;
	margin-left: 3px;
	margin-right: 3px;
}

.icon:after {
	clear: both;
}

.pull-right {
	float: right;
}

.pull-right:after {
	clear: both;
}

.input-group {
	margin: 3px;
}

.input-group .form-control {
	width: calc(100% - 80px);
	border-radius: 9999px 0 0 9999px;
	border-right: none;
}

.input-group .form-addon {
	border-radius: 0 9999px 9999px 0;
	width: 80px;
	margin: 0;
}

.input-group textarea.form-control {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	cursor: normal;
}

.progress-bar {
	background-color: var(--light-bg-color);
	border-radius: 9999px;
	height: 15px;
	overflow: hidden;
	margin: 3px;
}

.progress-bar .slider {
	background-color: var(--highlight-bg-color);
	width: 0%;
	height: 100%;
}

.badge {
	height: 20px;
	width: 20px;
	background-color: red;
	border-radius: 10px;
	color: white;
	font-size: 8pt;
	
	position: absolute;
}

.badge .amount {
	line-height: 20px;
	text-align: center;
	margin: auto;
	display: block;
}

.single-notification {
	position: fixed;
	background-color: #EFCA08;
	bottom: 50px;
	right: -315px;
	
	width: 300px;
	height: 60px;
	padding: 5px;
	border-radius: var(--border-radius);
	transition: right 0.5s ease;
	box-shadow: 0 0 15px;
}

.single-notification.visible {
	right: 20px;
}

.single-notification a {
	text-decoration: none;
	float: right;
	line-height: 50px;
	display: block;
	height: 50px;
	width: 60px;
	border-left: 1px solid #EFDA08;
	text-align: center;
}
