.notification-list {
	box-shadow: 0px 0px 14px;
	border-radius: var(--border-radius);
	padding: 5px;
	max-width: 800px;
	margin: 0 auto;
}

.notification {
	border-top: 1px solid #F0F0F0;
	border-left: 1px solid #F0F0F0;
	border-right: 1px solid #F0F0F0;
	min-height: 41px;
	padding: 4px;
    overflow: auto;
}

.notification:last-child {
	border-bottom: 1px solid #F0F0F0;
}

.notification.read {
	background-color: #F0F0F0;
}

.notification .frame {
	float: right;
	margin: 0px;
}

.notification .frame .icon {
	margin-top: 4px;
	margin-bottom: 4px;
	opacity: 0.5;
}

.notification .frame:hover .icon {
	opacity: 1;
}

