.post-list {
	margin: 0 auto;
	max-width: 600px;
}

.post {
	max-width: 600px;
	margin-top: 30px;
	box-shadow: 0px 0px 30px 14px rgba(0,0,0,0.75);
	overflow: hidden;
	border-radius: var(--border-radius);
}

.post .background {
	padding-bottom: 75%;
	background-color: black;
	width: 100%;
	position: relative;
}

.post .background .image {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.post .post-details {
	background-color: white;
	min-height: 50px;
	padding-top: 15px;
}

.post .post-details .post-author {
	line-height: 41px;
}

.post-details .wrapper {
	margin-left: 15px;
	margin-right: 15px;
}

.post .post-text {
	margin-top: 15px;
	margin-bottom: 15px;
}

.post .post-text .actions {
	float: right;
	display: flex;
}

.post .comment-area {
	margin-top: 25px;
}


.toggle-comment-area-button {
	height: 15px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.toggle-comment-area-button:hover {
	background-color: var(--light-bg-color);
}


.post .comment-area .comment-list .comment {
	transition: max-height 0.5s, padding 0.5s, margin-bottom 0.5s, margin-top 0.53s;
	max-height: 0px;
	overflow: hidden;
	background-color: var(--light-bg-color);
	border-radius: var(--border-radius);
}

.post .comment-area.slide-in .comment-list .comment {
	transition: max-height 0.5s, padding 0.5s, margin-bottom 0.5s, margin-top 0.53s;
	max-height: 70px;
	overflow: auto;

	margin-top: 10px;
	margin-bottom: 10px;
	padding: 3px;
}

.button.fetch-more {
	margin-top: 40px;
}

.post .button.submit-button {
	height: 70px;
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}




