.user-info {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	border-radius: var(--border-radius);
}

.profile-editor .field-group-container {
	display: flex;
	flex-wrap: wrap;
}

.profile-editor .field-group {
	width: 300px;
	margin: 10px;
}

.profile-editor .field-group.profile-image-container {
	min-width: 50%;
}

.profile-editor .background {
	background-color: black;
	border-radius: var(--border-radius);
	box-shadow: 0 0 10px;
}

.profile-image {
	padding-top: 75%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: inherit;
}

.profile {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 50px;
	box-shadow: 0px 0px 15px;
	border-radius: var(--border-radius);
}

.profile .background {
	background-color: black;
	border-radius: var(--border-radius);
}

.profile .profile-image-container {
	max-width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.profile .background {
	margin-top: -37.5%;
}

.profile .username {
	margin-bottom: 30px;
}

.profile .content-wrapper {
	padding: 15px;
}

.profile .username {
	font-size: 20pt;
	line-height: 35px;
}

.profile .user-info {
	margin: 30px 0;
}

.profile .button.subscribe-button {
	width: 100%;
}

.profile .user-stat-container .user-stat {
	float: left;
	width: 33%;
	/*background-color: var(--light-bg-color);*/
	padding: 5px;
}

/*.profile .user-stat-container .user-stat:first-child {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
}

.profile .user-stat-container .user-stat:last-child {
	border-radius: 0 var(--border-radius) var(--border-radius) 0;
}*/

.profile .header-image {
	background-color: black;
	padding-top: 35%;
	border-radius: var(--border-radius) var(--border-radius) 0 0;
	background-size: contain;
	background-repeat:repeat;
	background-position: repeat;
}

