{% macro menu_item(endpoint, text, badge_class=False) %}
	<a class="menu-item {{'active' if request.url_rule.endpoint == endpoint }}"
	   href="{{ url_for(endpoint) }}">
		{{ text }}
		{% if badge_class %}
			<div class="badge {{ badge_class }} hidden">
				<span class="amount">0</span>
			</div>
		{% endif %}
	</a>
{% endmacro %}


<!DOCTYPE html>
<html lang="{{ get_locale() }}">
	<head>
		<meta name="viewport" content="width=device-width">
		<link type="text/css" rel="stylesheet" href="{{ asset_url('css/normalize.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset_url('css/header.css') }}" />
		<link type="text/css" rel="stylesheet" href="{{ asset_url('css/main.css') }}" />
		<link type="application/json" rel="manifest" href="{{ url_for('manifest') }}">
		<!-- Apple needs extra icons :/ -->
		<link rel="apple-touch-icon" sizes="57x57" href="{{ asset_url('img/logo-57.png') }}">
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset_url('img/logo-72.png') }}">
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset_url('img/logo-114.png') }}">
		<link rel="apple-touch-icon" sizes="144x144" href="{{ asset_url('img/logo-144.png') }}">
		<!-- /Apple icons -->
		<link rel="icon" type="image/png" href="{{ asset_url('img/logo-192.png') }}" />
		
        {% block head %}
			<title>No title - Krusty dank meme</title>
		{% endblock %}
		
        <style>
			.img-like {
				background-image: url({{ asset_url('img/like.png') }});
			}
			
			.img-comment {
				background-image: url({{ asset_url('img/comment.png') }});
			}
			
			.img-arrow-up {
				background-image: url({{ asset_url('img/arrow-up.png') }});
			}
			
			.img-arrow-down {
				background-image: url({{ asset_url('img/arrow-down.png') }});
			}

			.img-pencil {
				background-image: url({{ asset_url('img/pencil.png') }});
			}

			.img-trashbin {
				background-image: url({{ asset_url('img/trashbin.png') }});
			}

			.img-checked {
				background-image: url({{ asset_url('img/checked.png') }});
			}

			.img-unchecked {
				background-image: url({{ asset_url('img/unchecked.png') }});
			}
			
			.img-placeholder {
				background-image: url({{ asset_url('img/placeholder.png') }});
			}
			
			.img-logo-192-transparent {
				background-image: url({{ asset_url('img/logo-192-transparent.png') }});
			}
			
			.img-loading-spinner {
				background-image: url({{ asset_url('img/loading-spinner.gif') }});
			}
            
            .img-user {
                background-image: url({{ asset_url('img/user.png') }});
            }
            
            .img-x {
                background-image: url({{ asset_url('img/x.png') }});
            }
			
			@font-face {
				font-family: "PT_Sans";
				src: url("{{ url_for('static', filename='fonts/PT_Sans-Web-Regular.ttf') }}");
				font-weight: normal;
				font-style: normal;
			}
			
			@font-face {
				font-family: "PT_Sans";
				src: url("{{ url_for('static', filename='fonts/PT_Sans-Web-Bold.ttf') }}");
				font-weight: bold;
				font-style: normal;
			}
			
			@font-face {
				font-family: "PT_Sans";
				src: url("{{ url_for('static', filename='fonts/PT_Sans-Web-BoldItalic.ttf') }}");
				font-weight: bold;
				font-style: italic;
			}
			
			@font-face {
				font-family: "PT_Sans";
				src: url("{{ url_for('static', filename='fonts/PT_Sans-Web-Italic.ttf') }}");
				font-weight: normal;
				font-style: italic;
			}
			
			@font-face {
				font-family: "Raleway";
				src: url("{{ url_for('static', filename='fonts/Raleway-Regular.ttf') }}");
				font-weight: normal;
				font-style: normal;
			}
			
			@font-face {
				font-family: "Raleway";
				src: url("{{ url_for('static', filename='fonts/Raleway-Light.ttf') }}");
				font-weight: 300;
				font-style: normal;
			}
		</style>
        <script async="async" src="{{ asset_url('js/app.js') }}"></script>
        <script>
            !function(){
                var cb = [];
                window.whenApp = function(fn) {
                    if (cb) cb.push(fn);
                    else window.withApp(fn);
                };
                
                window.addEventListener("load", function(){
                    window.initApp({{ get_app_props() | tojson }});
                    for(var i = 0; i < cb.length; i++) {
                        window.withApp(cb[i]);
                    }
                    cb = null;
                });
            }();
        </script>
        {% block async_scripts %}{% endblock %}

		{{ ad_tags.get_head_tags() | safe }}
	</head>
	<body>        
        <div class="header header-big">
            <div class="action-button">
                <div>
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
				<div class="badge notification-badge hidden">
					<span class="amount">0</span>
				</div>
            </div>
            <div class="profile-button img-user"></div>
            
            <div class="logo img-logo-192-transparent"></div>
        </div>
        
        <div class="action-menu" >
            <div class="close-button img-x"></div>
			<div class="menu-item-list">
				{% if g.user %}
					{{ menu_item('posts.index', _('Posts')) }}
					{% if g.user.is_moderator or g.user.is_admin %}
						{{ menu_item('posts.approve', _('Approve posts'), badge_class='approve-badge') }}
					{% endif %}
					{{ menu_item('posts.new', _('New post')) }}
					{{ menu_item('posts.yours', _('Your posts')) }}
                    {{ menu_item('users.notifications', _('Notifications'), badge_class='notification-badge') }}
				{% else %}
					{{ menu_item('users.signup', _('Sign up')) }}
					{{ menu_item('users.login', _('Log in')) }}
				{% endif %}
			</div>
		</div>
        
        <div class="profile-menu slide-out">
            <div class="triangle-top"></div>
            <div class="menu-item-list">
                {% if g.user %}
                    <a class="menu-item logout-button" href="#">{{ _('Log out') }}</a>
                    {{ menu_item('users.edit_profile', _('My profile')) }}
                    {{ menu_item('users.edit_info', _('My info')) }}
                {% else %}
                    {{ menu_item('users.login', _('Log in')) }}
                    {{ menu_item('users.signup', _('Sign up')) }}
                {% endif %}
            </div>
        </div>
        
        <div class="content" id="main-content">
			{% block content %}
				No content
			{% endblock %}
		</div>
		<div class="footer">
			<p class="text center">Krusty dank meme (c) 2018</p>
		</div>
        <div class="single-notification">
            <a href="#">Close</a>
            <span class="text">Test notification</span>
        </div>
        {% block scripts %}{% endblock %}
	</body>
</html>
